{{ $indexScratch := .indexScratch }}
{{ if .currentMenu.HasChildren }}
    <li>
	<a data-toggle="collapse" href="#{{ .currentMenu.Name }}">
	    {{ .currentMenu.Pre }}
	    <span>{{ .currentMenu.Name }}</span>
	</a>
	<ul id="{{ .currentMenu.Name }}" class="collapse">
	    {{ range .currentMenu.Children }}
		{{ if in .URL ($indexScratch.Get "pageURL") }}
		{{ partial "aside-list" (dict "currentMenu" . "indexScratch" $indexScratch) }}
		{{ end }}
	    {{ end }}
	</ul>
    </li>
    {{ else }}
    <li>
	<a href="{{ .currentMenu.URL }}">
	    {{ .currentMenu.Pre }}
	    <span>{{ .currentMenu.Name }}</span>
	</a>
    </li>
{{ end }}
