{{ "<!-- details page -->" | safeHTML }}
{{ $pageURL := path.Dir (path.Dir .Page.Permalink ) }}
{{ if .Page.IsNode }}
{{ $pageURL = "nope" }}
{{ end }}
{{ .Scratch.Set "pageURL" $pageURL }}
{{ $indexScratch := .Scratch }}
<div class="col-lg-3">
    <div class="mb-5 bg-white p-4">
	{{ range where .Site.Menus.main "Name" .Section}}
	    <a class="side-item" href="{{ .URL }}">
		<h4 class="mb-4">{{ .Name | title }}</h4>
	    </a>
	<ul class="list-styled">
	    {{ range .Children }}
		{{ partial "aside-list" (dict "currentMenu" . "indexScratch" $indexScratch) }}
	    {{ end }}
	</ul>
	{{ end }}
    </div>
</div>
{{ "<!-- /details page -->" | safeHTML }}
