{{ $indexScratch := .indexScratch }}
{{ if .currentMenu.HasChildren }}
    <li>
	<a class="side-item" data-toggle="collapse" href="#{{ .currentMenu.Name }}">
	    {{ .currentMenu.Pre }}
	    <span>{{ .currentMenu.Name | humanize | title }}</span>
	</a>
	<ul id="{{ .currentMenu.Name }}" class="collapse {{ if hasPrefix .currentMenu.URL ($indexScratch.Get "pageURL") }}show{{ end }}">
	    {{ range .currentMenu.Children }}
		{{/* if in .URL ($indexScratch.Get "pageURL") */}}
		{{ partial "aside-list" (dict "currentMenu" . "indexScratch" $indexScratch) }}
		{{/* end */}}
	    {{ end }}
	</ul>
    </li>
    {{ else }}
    <li>
	<a class="side-item" href="{{ .currentMenu.URL }}">
	    {{ .currentMenu.Pre }}
	    <span>{{ .currentMenu.Name | humanize | title }}</span>
	</a>
    </li>
{{ end }}
