{{ "<!-- footer -->" | safeHTML }}
<footer class="section bg-gray pb-0">
    <div class="container">
	<div class="row">
	    <!-- LOGO -->
	    <div class="col-md-2 text-md-left text-center">
		<img src="{{ .Site.Params.logoFooter | absURL }}" alt="Logo Footer">
	    </div>
	    <!-- ABOUT US -->
	    <div class="col-md-3 text-md-left text-center">
		<h6>About Us</h6>
		<p>{{ .Site.Params.info.about }}</p>
	    </div>
	    <!-- PRODUCTS -->
	    <div class="col-md-2 text-md-left text-center">
		<h6>Products</h6>
		<ul>
		{{ range .Site.Menus.main }}
		    <li><a class="paragraph p-0" href="{{ .URL }}"> {{ .Name | upper }} </a></li>
		{{ end }}
		</ul>
	    </div>
	    <!-- API DOC -->
	    <div class="col-md-2 text-md-left text-center">
		<h6>API Documentation</h6>
		<ul>
		{{ range .Site.Menus.api }}
		    <li><a class="paragraph p-0" href="{{ .URL }}"> {{ .Name | upper }} </a></li>
		{{ end }}
		</ul>
	    </div>
	    <!-- Contact -->
	    <div class="col-md-3 text-md-left text-center">
		<h6>Contact</h6>
		<div class="row">
		    <div class="col">
			<p>
			    {{ .Site.Params.info.address }}<br>
			    {{ .Site.Params.info.phone }}<br>
			    {{ .Site.Params.info.email }}<br>
			</p>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col">
		<hr />
	    </div>
	</div>
	<div class="row text-right">
	    <div class="col">
		<p>{{ .Site.Params.copyright }}</p>
	    </div>
	</div>
    </div>
</footer>
{{ "<!-- /footer -->" | safeHTML }}

{{ "<!-- Bootstrap JS -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/bootstrap/bootstrap.min.js"></script>
{{ "<!-- highlight -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}plugins/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<!-- <script src="{{ .Site.BaseURL }}js/script.js"></script> -->
