<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    <img class="logo" src="{{ .Site.Params.logoHeader | absURL }}" alt="Logo Header">
  </a>
  <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navigation">
    <ul class="navbar-nav nav-pills ml-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a>
      </li>
      {{ $currentURL := .URL }}
      {{ range .Site.Menus.main }}
      <li class="nav-item">
	  <a class="nav-link text-dark {{ if in $currentURL .URL }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      {{ if .Site.Params.cta.enable }}
      <li class="nav-item">
	  <a class="nav-link text-dark {{ if in $currentURL .Site.Params.cta.URL }}active{{ end }}" href="{{ .Site.Params.cta.URL | absURL }}">{{ .Site.Params.cta.Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
